<header class="site-header">
    <div class="content">
        <a class="site-title" href="/">Ben <span>&amp;</span> Jenny</a>
        <hr>
        <nav class="main-menu">
            <ul>
            {% assign url = page.url | remove: 'index.html' %}
            {% for menu in site.data.nav %}
            <li class="li-{{ menu.title | downcase | replace:' ','-' }} {% if url == menu.href %}active{% endif %}">
                <a href="{{ menu.href }}">{{ menu.title }}</a>
            </li>
            {% endfor %}
            </ul>
        </nav>
        <hr>
    </div>
</header>