<form class="rsvp-form" method="POST" action="http://formspree.io/benandjenny01+rsvp@gmail.com">
	<!-- First Name -->
	<label for="First Name">First name</label>
	<div class="row input">
		<input type="text" name="First Name" required tabindex="1">
	</div>
	<!-- Last Name -->
	<label for="Surname">Surname</label>
	<div class="row input">
		<input type="text" name="Surname" required tabindex="2">
	</div>
	<!-- Attending? -->
	<label for="Attending">Will you be joining us?</label>
	<div class="row input">
		<div class="faux-input">Please select one</div>
		<select id="attending-dropdown" name="Attending" tabindex="3" required>
			<option>Please select one</option>
			<option id="yes">Yes - I'd love to</option>
			<option id="no">No - Sadly I can't make it</option>
		</select>
	</div>
	<div class="rsvp-response"></div>
	<!-- Message to us -->
	<label for="Message">Message to us</label>
	<div class="row">
		<textarea name="Message" tabindex="4"></textarea>
	</div>
	<!-- Allergies -->
	<label for ="Allergies" class="allergies">Any food allergies or dietary requirements?</label>
	<div class="row input allergies">
		<input type="text" name="Allergies" tabindex="5">
	</div>

	<input type="submit" value="RSVP">
	<input type="text" name="_gotcha" style="display:none" />
	<input type="hidden" name="_next" value="/thanks/" />
</form>