<form class="rsvp-form" method="POST" action="http://formspree.io/benandjenny01+rsvp@gmail.com">
	<!-- First Name -->
	<label for="First Name">First name</label>
	<div class="row">
		<input type="text" name="First Name" required tabindex="1">
	</div>
	<!-- Last Name -->
	<label for="Surname">Surname</label>
	<div class="row">
		<input type="text" name="Surname" required tabindex="2">
	</div>
	<!-- Attending? -->
	<label for="Attending">Will you be joining us?</label>
	<div class="row">
		<div class="faux-input">Please select one</div>
		<select id="attending-dropdown" name="Attending" tabindex="3" required>
			<option>Please select one</option>
			<option>Yes</option>
			<option>Unfortunately Not</option>
		</select>
	</div>
	<!-- Meal option -->
	<label for="Meal option">If so, what would you like to eat?</label>
	<div class="row">
		<div class="faux-input">Please select one</div>
		<select id="meal-dropdown" name="Meal option" tabindex="4">
			<option>Please select one</option>
			<option>Meat Option</option>
			<option>Fish Option</option>
			<option>Vegetarian Option</option>
		</select>
	</div>
	<!-- Allergies -->
	<label for ="Allergies">Any food allergies?</label>
	<div class="row">
		<input type="text" name="Allergies" required tabindex="5">
	</div>

	<input type="submit" value="RSVP">
	<input type="text" name="_gotcha" style="display:none" />
	<input type="hidden" name="_next" value="/thanks/" />
</form>