/* --------------------------------------------------------
	CONTENTS - DOCUMENT
	---
	HTML
	BODY
-------------------------------------------------------- */

/* --------------------------------------------------------
	HTML
-------------------------------------------------------- */

html {
	background: white;
	color: $text-color;
	font-family: $font-family-serif;
	line-height: 1.5em;
	font-weight: 400;
}

/* --------------------------------------------------------
	BODY
-------------------------------------------------------- */

body {
	height: 100%;
}