/* --------------------------------------------------------
	CONTENTS - DOCUMENT
	---
	HTML
	BODY
-------------------------------------------------------- */

/* --------------------------------------------------------
	HTML
-------------------------------------------------------- */

html {
	height: 100%;
	background: white;
	color: $text-color;
	font-weight: 300;
	font-size: 1.25em;
	font-family: $font-family-serif;
	line-height: 1.5em;
	min-height: 100%;

    @media screen and (max-width:$breakpoint) {
        font-size: 100%;
    }

}

/* --------------------------------------------------------
	BODY
-------------------------------------------------------- */

body {
	height: 100%;
}