/* --------------------------------------------------------
	CONTENTS - EXTENDS
	---
	CLEARFIX
	VARIOUS
-------------------------------------------------------- */

/* --------------------------------------------------------
 	CLEARFIX
 	---
 	Clearfix rules recommended by Nicolas Gallagher
-------------------------------------------------------- */

%clearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }

}

/* --------------------------------------------------------
	VARIOUS
-------------------------------------------------------- */

.plain-ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.headings {
    font-family: $font-family-sans;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .125em;
}

.italics {
    font-style: italic;
    color: #9197a3;
}