/* --------------------------------------------------------
    CONTENTS - LAYOUT
    ---
    CONTAINER
    MAIN
    MASTHEAD
    HEADER
    NAV
    ISLAND
-------------------------------------------------------- */

.sans-serifs {
    font-family: $font-family-sans;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .125em;
}

.italics {
    font-style: italic;
    color: #9197a3;
}

input[type="submit"],
.button {
    margin-top: 1em;
    border: 0;
    width: 100%;
    padding: 1em 0;
    background-color: $accent-color;
    color: white;
    letter-spacing: .125em;
    @extend .sans-serifs;

    &:hover {
        color: white;
        background-color: $text-color;
    }

    &:active {
        outline: none;
        @include vendor(transform, translateY(1px));
    }

}

/* --------------------------------------------------------
    CONTAINER
-------------------------------------------------------- */

.content {
    margin: 0 auto;
    max-width: $max-width;
    position: relative;
    padding: 2em;
}

hr {
    border: 0;
    width: 40px;
    border-bottom: 2px solid #38373d;
    margin: 2em auto;
}


/* --------------------------------------------------------
    HEADER
-------------------------------------------------------- */

header {
    @extend %clearfix;
    position: relative;

    .site-title {
        display: block;
        text-align: center;
        text-transform: uppercase;
        @extend .sans-serifs;
        color: $text-color;

        span {
            font-family: $font-family-serif;
            font-style: italic;
        }

    }

}

/* --------------------------------------------------------
    NAV
-------------------------------------------------------- */

nav {
    position: relative;

    ul {
        @extend %clearfix;
        @extend .plain-ul;
        line-height: 2em;
        text-align: center;


        li {
            display: inline-block;
            margin: 0 .25em;

            @media screen and (max-width:$breakpoint) {
                display: block;
                margin: 0;
            }

            a {
                padding: 0 1em;
                display: block;
                font-size: .875em;
                color: $text-color-light !important;
                @extend .sans-serifs;
            }

            &.active {

                a {
                    color: $accent-color !important;
                }

            }

        }

    }

}

/* --------------------------------------------------------
    ACCOMMODATION
-------------------------------------------------------- */

.accommodation {
    padding-bottom: 2em;

    h4 {
        margin: 0;
    }

    .address {
        @extend .italics;
        text-align: center;
        margin: 1em 0;
    }

    a {
        display: block;
        color: $accent-color;

        &:hover {
            color: $text-color;
        }

    }

}

/* --------------------------------------------------------
    RSVP
-------------------------------------------------------- */

.rsvp-form {

    @media screen and (max-width: $breakpoint) {
        padding: 0em;
    }

    h4 {
        text-align: left;
        margin: 0 0 1em 0;
    }

    label {
        font-family: $font-family-sans;
        margin-bottom: 1em;
        display: block;
    }

    .row {
        border: 1px solid #ccc;
        position: relative;
        margin-bottom: 1em;
        height: 3em;
        line-height: 3em;

        .faux-input {
            padding: 0 1em;
            cursor: pointer;
            background-image: url('/images/dropdown.png');
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: 98%;
        }

        input {
            @include vendor(box-sizing, border-box);
            width: 100%;
            border: 0;
            background: none;
            padding: 0 1em;
            height: 3em;
        }

        select {
            position: absolute;
            top: 0;
            z-index: 999;
            width: 100%;
            @include opacity(0);
            height: 3em;
            -webkit-appearance: menulist-button;
            cursor: pointer;
        }

    }

}

.thanks {
    text-align: center;

    .button {
        padding-left: 1em;
        padding-right: 1em;
    }

}


/* --------------------------------------------------------
    FOOTER
-------------------------------------------------------- */

.site-footer {
    padding: 0 0 2em 0;
    font-style: italic;
    color: #ccc;
    text-align: center;

    p {
        @extend .italics;
        margin: 0;
    }

}