/* --------------------------------------------------------
	CONTENTS - TYPOGRAPHY
 	---
	HEADINGS
	PARAGRAPHS
	ANCHORS
-------------------------------------------------------- */

/* --------------------------------------------------------
	HEADINGS
-------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 {
	text-align: center;
	@extend .futura;
	font-weight: 500;
	margin: 0 0 2em 0;
}

p {
	margin: 0 0 2em 0;

	&.no-margin {
		margin: 0;
	}

}

a {
	color: $accent-color;

	&:hover {
		color: $text-color;
	}

}

/* --------------------------------------------------------
	PARAGRAPHS
-------------------------------------------------------- */

/* --------------------------------------------------------
	ANCHORS
-------------------------------------------------------- */

a, a:link {
	text-decoration: none;
}