/* --------------------------------------------------------
	CONTENTS - TYPOGRAPHY
 	---
	HEADINGS
	PARAGRAPHS
	ANCHORS
-------------------------------------------------------- */

/* --------------------------------------------------------
	HEADINGS
-------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 {
	text-align: center;
	margin: 0 0 2em 0;
	@extend .sans-serifs;
}

h1 {

	@media screen and (max-width:$breakpoint) {
		font-size: 1.5em;
	}

}

/* --------------------------------------------------------
	PARAGRAPHS
-------------------------------------------------------- */

p {
	margin: 0 0 2em 0;

	&.no-margin {
		margin: 0;
	}

}

/* --------------------------------------------------------
	ANCHORS
-------------------------------------------------------- */

a {
	text-decoration: none;
	color: $accent-color;

	&:hover {
		color: $text-color;
	}

}