/* --------------------------------------------------------
	CONTENTS - VARIABLES
	---
	FONTS
	COLOURS
	WIDTHS
	GRID
-------------------------------------------------------- */

/* --------------------------------------------------------
	FONTS
-------------------------------------------------------- */

$font-family-sans: "futura-pt",sans-serif;
$font-family-serif: Baskerville, 'Times New Roman', serif;

/* --------------------------------------------------------
	COLOURS
-------------------------------------------------------- */

$text-color: #111;
$accent-color: #40aa8c;

/* --------------------------------------------------------
	WIDTHS
-------------------------------------------------------- */

$max-width: 32em;
$breakpoint: 960px;

/* --------------------------------------------------------
	GRID
-------------------------------------------------------- */

$grid-columns: 12;