/* --------------------------------------------------------
	CONTENTS - VARIABLES
	---
	FONTS
	COLOURS
	WIDTHS
	GRID
-------------------------------------------------------- */

/* --------------------------------------------------------
	FONTS
-------------------------------------------------------- */

$font-family-sans: 'Raleway', sans-serif;
$font-family-serif: Baskerville, 'Times New Roman', serif;

/* --------------------------------------------------------
	COLOURS
-------------------------------------------------------- */

$text-color: #111;
$accent-color: #1fdea1;
$text-color-light: #9197a3;

/* --------------------------------------------------------
	WIDTHS
-------------------------------------------------------- */

$max-width: 32em;
$breakpoint: 960px;

/* --------------------------------------------------------
	GRID
-------------------------------------------------------- */

$grid-columns: 12;